.writing{
width:100%;
padding:10px;
box-sizing:border-box;
outline:none;
resize:none;
border:0;
font-family:'Montserrat',sans-serif;
transition:all .3s;border-bottom:2px solid #70F0A9;
}

.messageContainer{
  height:400px;
  width: 300px;
  top: 30px;
  position: relative;
  border-radius: 10px;
  background-color: rgba(214, 214, 214, 0.2);
}

.chatContainer{
  display: flex;

}



.writing:focus{
   border-bottom:2px solid #78788c
}


.formulare{
    width:300px;
    height:120px;
    background:#e6e6e6;
    border-radius:8px;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
  position: absolute;
    font-family:'Montserrat',sans-serif;
    position:relative
}
