.sidenav {
    height: calc(100vh-160px);
    width: 160px;
    position: fixed;
    z-index: 9;
    top: 60px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
   
    
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .menu{
    grid-row-start: 2;
    grid-row-end: 2;
    background-color:white;
}

.menuItem{
    height: 50px;
    text-align: center;
    line-height: 50px; /*to make it on vertically middle*/
}

.checkedMenuItem{
    height: 50px;
    text-align: center;
    background-color:whitesmoke;
    line-height: 50px;
    font-weight:bold;
}