/*these can be implemented in sidebar component*/
.menuItem{
    height: 50px;
    text-align: center;
    line-height: 50px; /*to make it on vertically middle*/
}

.checkedMenuItem{
    height: 50px;
    text-align: center;
    background-color:whitesmoke;
    line-height: 50px;
}

.sidenav {
    height: calc(100vh-160px);
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  #board_profile{
    display:grid;
    grid-template-columns:160px 1fr;
    min-height: 100vh;
  }

  
  .profileCard{
    border: solid 1px whitesmoke;
    background-color: white;
    box-shadow: 0px 2px 2px  rgba(0,0,0,0.2);
    border-radius:10px;
    position: relative;
    overflow: hidden;  
    text-align: center;
    width: 60%;
    margin:auto;
    padding: 30px;
    
  }
  .profileCard > *{
    margin: auto;
    line-height: 2;;
  }

  .photoFrame{
    height: 146px;
    width: 146px;
    border-radius: 73px;
    overflow: hidden;  
    left: 50%;
    border: solid 1px gainsboro;
  
  }

  

  .photoFrame > img{
    height: 146px;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
.profile_username{
  font-weight: 800;
}

.likes_wins >span{
  vertical-align: middle;
}

.thumbIcon{
  color:darkblue;
}
.winIcon{
  color:orange;
}

.formContainer{
  text-align: middle;
  padding: 50px;
  display: grid;
  grid-template-columns:  59% 45%;

  }

  .form_name{
    grid-row-start: 1;
    grid-row-end: 2;

    display:grid;
    grid-template-columns: 1fr 3fr;

    margin: 10px;

    line-height: 56px;

  }

  .name_q{
    grid-column-start: 1;
    grid-column-end: 2;
  }

 


  .form_info{
    grid-row-start: 2;
    grid-row-end: 3;

    display:grid;
    grid-template-columns: 1fr 3fr;

    margin: 10px;

    line-height: 56px;

  }

  .info_q{
    grid-column-start: 1;
    grid-column-end: 2;
  }

  
  /* used  for the PublicProfile to show the sets*/

.editUserFormContainer{
  display: flex;
  position: relative;
  justify-self: right;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
}

.editUserForm{
  display:grid;
  grid-template-rows: auto auto;
  margin:auto;
  width: 50px;
  align-items: center;
  position: relative;
  justify-content: center;
  
}

  /*
  align-items: center;
  justify-content: center;*/




.setTitle{
  height: 40px;
  line-height:40px;
  text-align: center;
}

input[type="submit"]
{
  background-color:#70F0A9;
  color: white;
   
    font-weight: bold;
    
    border: none;
    cursor: pointer;
    border-radius: 60px;
    text-align: center;
    width: 200px;
    height: 30px;
    position: relative;
  
}

.userPicturesSpan{
  position: relative;
  left:30px;
  top: 10px;
}

.userPictures{
  display: grid;
  grid-column: 1fr 1fr 1fr;
  width: 300px;
  height: 300px;
  position: relative;
  justify-self: left;
  left: 20px;
  margin: 10px;
  border: solid 1px whitesmoke;
  box-shadow: 0px 2px 2px  rgba(0,0,0,0.2);
  border-radius:10px;
  background-color: rgb(255, 255, 255);
}


.pictureChoices{
  height: 70px;
  margin: 4px;
  border-radius: 100px;
  border: solid 1px rgb(201, 201, 201);
  transition: transform .1s;
}

.pictureChoices:hover{
  border:solid 1px rgb(80, 199, 90);
  transform: scale(1.2);
  cursor: pointer;
}



    

input {
  background-color: whitesmoke;
  border: solid whitesmoke;
  border-radius: 10px;
  width: 80%;
  
  margin: 8px 0;
  box-sizing: border-box;

  color:gray;
  height: 40px;
  
}