body {
    margin: 0;
    height: 100vh;
}

grid-container{
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr;
    grid-template-rows: 0.75fr 7fr 4fr 8fr;
    grid-template-areas:
        "header header header"
        "main main flashy"
        "future uzh flashy"
        "emptyspace emptyspace flashy";
    height: 100vh;
    margin: 2em;
}

main {
    margin-top: 15px;
    grid-area: main;
    background: #70F0A9;
    textAlign: 'bottom';
}


.future {
    grid-area: future;
    background: #70F0A9;
    margin-top: 10px;
}

.uzh {
    grid-area: uzh;
    background: #306b6d;
    margin-top: 10px;
    margin-left: 10px;

}

.emptyspace {
    grid-area: emptyspace;
    background: #white;
}


.header {
    grid-area: header;
}

flashy {
    margin-top: 15px;
    grid-area: flashy;
    background: url('../shared/images/flashy_h-green.png') no-repeat;
    background-size: 80%;
    margin-left: 50px;
}

.fragen {
    margin-left: 15px;
}
.text {
    margin-left: 15px;
    margin-right: 15px;
    textAlign: justify;
}

.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 190px;
}
.bild {
  height: 146px;
  width: 146px;
  border-radius: 73px;
  overflow: hidden;
  left: 50%;
  border: solid 1px gainsboro;
}
.caption {
    display: block;
}


