body {
    margin: 0;
    height: 100vh;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr;
    grid-template-rows: 1fr 4fr 3fr 2fr;
    grid-template-areas:
        "main main header"
        "main main flashy"
        "nom yum flashy"
        "footer footer flashy";
    height: 100vh;
    margin: 2em;
}

main {
    grid-area: main;
    background: #FFFADF;
}

section.nom {
    grid-area: nom;
    background: #C4B35A;
}

section.yum {
    grid-area: yum;
    background: #333333;
}

section.footer {
    grid-area: footer;
    background: #202020;
}

header {
    grid-area: header;
}

flashy {
    grid-area: flashy;
    background: url('../shared/images/flashy_h-green.png') no-repeat;
    background-size: cover;
}