body {
    margin: 0;
    height: 100vh;
}

grid-container{
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr;
    grid-template-rows: 1fr 4fr 3fr 2fr;
    grid-template-areas:
        "header header header"
        "main main flashy"
        "nom yum flashy"
        "emptyspace emptyspace flashy";
    height: 100vh;
    margin: 2em;
}

main {
    grid-area: main;
    background: #70F0A9;
    textAlign: 'bottom';
}

section.nom {
    grid-area: nom;
    background: #6fa5aa;
    margin-top: 10px;
}

section.yum {
    grid-area: yum;
    background: #306b6d;
    margin-top: 10px;
    margin-left: 10px;

}

section.emptyspace {
    grid-area: emptyspace;
    background: #white;
}

header {
    grid-area: header;
}

flashy {
    grid-area: flashy;
    background: url('../shared/images/flashy_h-green.png') no-repeat;
    background-size: 80%;
    margin-left: 50px;
}