.gameResults{
    display:grid;
    grid-template-rows: 40px 60px 60px 70px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.4);
    padding: 40px;
    margin: 20px;
    border-radius: .4rem;
}

.wholeResultsContainer{
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.submitButton{
    position:relative;
    height: 50px;
    font-size: 20px;
    color: #ffffff;
    background: #70F0A9;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    padding: 6px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.1s ease;
    margin: 3px;
    font-size: 20px;
}

.submitButton:hover{
    background-color: #5fbd89;
    transform: translateY(-2px);
}
