.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  
  .modal-main {
    justify-content: space-around;
    position: fixed;
    background: white;
    width: 40%;
    height: auto;
    top:50%;
    max-height: 80%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius:10px;
    padding: 0 0 15px 0;
    overflow: auto;
    z-index: 13;
    user-select: none;
  }

  .modal_content{
    background: white;
    overflow:scroll;
    z-index: 13;
  }

  .outside{
    width: 1900px;
    height: 1900px;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

 #modal_play{
   width:50%;
 }
  .userBasic{
      width:150px;
      text-align:center;

      grid-column-start:1;
      grid-column-end: 2;
  }
    .userMore{
        grid-column-start:2;
        grid-column-end: 3;

    }
    .invitationButton{
        grid-column-start:3;
        grid-column-end: 4;
        background-color:#70F0A9;
        border-radius: 10px;
        text-align: center;
        color: black;
        line-height: 178px;
    }
  .profile_username{
      margin: 5px;
  }

  .selectContainer{
      display: grid;
      grid-template-columns: 1fr 1fr;
      border: solid 1px whitesmoke;
      background-color: rgb(212, 255, 202);
      box-shadow: 0px 2px 2px  rgba(0,0,0,0.2);
      border-radius:10px;
      margin: 30px;
      overflow: hidden;  
      width: 100%-60px;
      text-align: center;
      padding: 30px;
  }

  .select_time{
      grid-column-start:1;
      grid-column-end: 2;
  }

  .select_cards{
      grid-column-start:2;
      grid-column-end: 3;
  }

  .selectTitle{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 1em;

  }


  .section_title{
    width: 30%;
    background-color: white;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 2px  rgba(0,0,0,0.2);
    font-size:20px;
  }

  select{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    padding: 0.6em 3.2em 0.6em 2.2em ;
    background-color:#60d494;
    border: 0; 
    border-radius: 10px;
  }

  .custom-select{
    position: relative;
  }

  .custom-arrow{
    position: absolute;
    border-radius: 10px;
    top: 0;
    right: 5.2em;
    display: block;
    background:#44ac72;
    height: 100%;
    width : 4em;
    pointer-events: none;
  }

  .custom-arrow::before,
  .custom-arrow::after{
    --size: 0.65em;
    content: '';
    position: absolute;
    width: 0;
    height: 0;

    left: 50%;
    transform: translate(-50%,50%);
  }

  .custom-arrow::before{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid rgba(255,255,255, 0.5);

    top: 20%;
  }

  .custom-arrow::after{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid rgba(255,255,255, 0.5);

    top: 50%;
  }


  #modal_title{
    color:white;
    font-size: 20px;
    font-weight: bold;
    background-color:#70F0A9;
    top: 0px;
    position: sticky;
    height: 60px;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    text-align: left;
    z-index: 20;

  }

  /* div.modal_content{
  } */

  .userCardModal{
    display: grid;
    grid-template-columns: 146px 1fr 100px;
    border: solid 1px whitesmoke;
    background-color: white;
    box-shadow: 0px 2px 2px  rgba(0,0,0,0.2);
    border-radius:10px;
    margin: 30px;
    overflow: hidden;  
    width: 100%-60px;
    text-align: center;
    padding: 30px;
    cursor: pointer;
  }

  .userCardModal:hover{
    background-color: rgb(209, 209, 209);
  }

  .userCardModal:active{
    box-shadow: 0 5px gray;
    transform: translateY(2px);
  }
  .userCardModalSelected{
    display: grid;
    grid-template-columns: 146px 1fr 100px;
    border: solid 1px whitesmoke;
    background-color: rgb(228, 228, 228);
    box-shadow: 0px 2px 2px  rgba(0,0,0,0.2);
    border-radius:10px;
    margin: 30px;
    overflow: hidden;  
    width: 100%-60px;
    text-align: center;
    padding: 30px;
    cursor: pointer;
  }

  .userCardModalSelected:active{
    box-shadow: 0 5px gray;
    transform: translateY(2px);
  }
  /*
  .userCardModalSelected:hover{
    background-color: rgb(209, 209, 209);
  }
  */

  .closeModal{
    width: 23%;
    text-align: center;
    border: solid 2px #70F0A9;
    background-color: white;
    color: #70F0A9;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  .closeModal:hover{
    background-color:whitesmoke
  }


  .sendInvite{
    width: 23%;
    text-align: center;
    border: solid 2px #44ac72;
    background-color: #70F0A9;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  .sendInvite:hover{
    background-color: #44ac72;
  }
  

  /* main modal*/

  .contents{
    display:grid;
    padding: 30px;
    justify-content: center;
  }

  .input-field{
    box-sizing: border-box;
    width: 300px;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    padding: 7px;
    outline: none;
    margin: 5px;
  }

  .input-button{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #70F0A9;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    margin: 5px;
  }

  .input-button:disabled{
    background: #9fd8b9
  }

  .input-button:enabled:hover{
    background: #60d494;
	  color: #fff;
    cursor: pointer;
  }

  .register-text{
    color:rgb(3, 88, 88);
    justify-self: center;
    margin: 10px;
  }

  .register-text:hover{
    color:rgb(1, 160, 160);
    cursor: pointer;
  }