.searchFilter {
    height: calc(100vh-160px);
    width: 160px;
    position: fixed;
    z-index: 9;
    top: 60px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
  
    grid-column-start: 1;
    grid-column-end: 2;

    padding: 30px;
    
  }

  .container {

    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 6px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #70F0A9;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
     top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  .filter-key{
    background-color:whitesmoke;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border:none;
    margin: 0 5px 5px 5px;
  }

  .filter-apply-btn{
    background-color:#70F0A9;

    color: white;
   
    font-weight: bold;
    
    border: none;
    cursor: pointer;
    border-radius: 60px;
    text-align: center;
    width: 100px;
    height: 30px;
    position: relative;

    display:inline-block;
    margin: 5px;
  }

  .filter-apply-btn:hover{
      background-color: #4ca875;
   
  }

  /*use this class when you want to make the content of it centered(horizontally)*/
  .middle-wrapper{ 
    text-align: center;
  }

  .view-all{
    cursor:pointer;
  }

  .view-all:hover{
    color: #70F0A9;
  }