
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


.info-grid{
    display:grid;
    background-color: white;
    grid-template-columns:900px;
    grid-template-rows: 70px 70px 30px;
    font-family: 'Roboto', sans-serif;
    color: #4F4D4D;
}

.info-block {
    padding:2px;
    margin:2px;
    text-align: left;
    text-overflow: clip;
}

.info-block-1 {
    text-size-adjust: 10;

}

.info-block-2 {
    color: black;
    font-size: 25px;
}

.info-block-3 {
    color: #565656;
    font-size: 20px;
}

.name-grid{
    display:grid;
    grid-template-columns: 500px 500px;
}

.set-name{
    font-size: 50px;
    font-weight: bold;
}

.creator-name{
    background-color: white;
    width: 200px;
    height: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    display: grid;
    font-size: 20px;
    top:20px;
}

.button-container{
    display:flex;
    position: relative;
    justify-content: center;
    bottom:20px;
}

.left-button-container{
    width: 200px;
    display: flex;
    position:relative;
    justify-content: center;
    left:20px;

}

.right-button-container{
    width: 200px;
    display:flex;
    position:relative;
    justify-content: center;
    right:20px;
}

.left-button,
.right-button{
    border: none;
    background-color: white;
    border-radius: 100%;
    height:63px;
    width: 63px;
    box-shadow: 0 0 1.5px 1.5px rgba(43, 42, 42, 0.2);
    transform: translateY(var(--translate-y,0));
}

.right-arrow-image,
.left-arrow-image{
    position:relative;
    right:6px;
    bottom:1px;
}

.left-button:hover,
.right-button:hover{
    --translate-y: -1.5px;
    cursor: pointer;
}



