
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


.info-grid{
    display:grid;
    grid-template-columns:900px;
    grid-template-rows: 70px 70px 30px;
    font-family: 'Roboto', sans-serif;
    color: #4F4D4D;
    top:30px;
}

.info-block {
    padding:2px;
    margin:2px;
    text-align: left;
    text-overflow: clip;
}

.info-block-2 {
    color: black;
    font-size: 25px;
}

.info-block-3 {
    color: #565656;
    font-size: 20px;
}



.name-grid{
    display:grid;
    grid-template-columns: 500px 33px 500px;
}

.set-name{
    font-size: 45px;
    font-weight: bold;
}

.user-profile{
    display: flex;
    top: 16px;
    position: relative;
    justify-content: center;
    height: 30px;
    width: 190px;
    background-color: rgba(2, 255, 255, 0);
    box-shadow: none;
    border: none;
}

.user-profile:hover{
    cursor: pointer;
    
}

.online-offline{
    height:13px;
    position: relative;
    top:20px;
    right:12px;
}

.creator-name{
    width: 300px;
    height: 30px;
    justify-content: left;
    align-self: center;
    position: relative;
    display: grid;
    font-size: 20px;
    top: 4px;
    left: 5px;
}

.profile-picture{
    display: flex;
    align-self: center;
    height:30px;
    width:30px;
    transform: translateY(var(--translate-profile-y,0));
}

.profile-picture:hover{
    --translate-profile-y: -1.5px;
}

.profile-picture-image{
    position: relative;
    height: 30px;
    width: 30px;
    user-select: none;
    
}

.button-container{
    display:flex;
    position: relative;
    justify-content: center;
    bottom:20px;
}

.left-button-container{
    width: 200px;
    display: flex;
    position:relative;
    justify-content: center;
    left:20px;

}

.right-button-container{
    width: 200px;
    display:flex;
    position:relative;
    justify-content: center;
    right:20px;
}

.left-button,
.right-button{
    position: relative;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 100%;
    height:63px;
    width: 63px;
    transform: translateY(var(--translate-y,0));
    bottom:145px;
}

.right-arrow-image,
.left-arrow-image{
    position:relative;
    right:7px;
    bottom:1px;
    user-select: none;
}

.left-button:hover,
.right-button:hover{
    --translate-y: -1.5px;
    cursor: pointer;
}

.back-button-container{
    background-color: white;
    display: flex;
    height: 60px;
}

.back-button{
    display: flex;
    position: relative;
    top: 16px;
    left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 12%;
    border: none;
    background-color: rgba(255, 255, 255, 0);;
    transform: translateY(var(--translate-y,0));
    /*box-shadow: 0 0 1px 1px rgba(43, 42, 42, 0.2);*/
}

.back-button:hover{
    --translate-y: -1.5px;
    cursor: pointer;
}

.back-button-image{
    height:50px;
    width:50px;
    position: relative;
    bottom: 1px;
    right: 8px;
    user-select: none;
}

.likes-image{
    position: relative;
    top: 7px;
    user-select: none;
}


.learn-area{
    position: relative;
    display:grid;
    grid-template-rows: 60px 440px 140px;
    align-items: center;
    justify-content: center;
} 

.settings-container{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    height:50px;
    width: 700px;
}

.exchange-sides-button,
.only-starred-button,
.star-everything-button,
.shuffle-button{
    position: relative;
    display: flex;
    justify-content: center;
    height:35px;
    width: 40px;
    margin: 5px;
    border: none;
    background-color:rgba(255, 255, 255, 0);
    transform: translateY(var(--translate-y,0));
    bottom:100px;
}

.only-starred-button{
    right:3px;
}

.exchange-sides-button:hover,
.only-starred-button:hover,
.star-everything-button:hover,
.shuffle-button:hover{
    cursor: pointer;
    --translate-y: -2px;
}

.exchange-sides-button:active,
.star-everything-button:active{
    opacity: 0.8
}

.exchange-sides-button:disabled,
.only-starred-button:disabled,
.star-everything-button:disabled,
.shuffle-button:disabled{
    opacity: 0.4;
    cursor:default;
    --translate-y: -0px;
}

.exchange-sides-image,
.only-starred-image,
.star-everything-image,
.shuffle-image
.star_image{
    user-select: none;
}



.only-starred-image{
    height:35px;
    position:relative;
    bottom:4px;
}

.shuffle-image{
    height:28px;
    position: relative;
    top:2px;
}

.exchange-sides-image{
    height:30px;
    position: relative;
    top:2px;
}

.star-everything-image{
    height:31px;
    position: relative;
    bottom:2px;
}







