
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');



.wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    
}

/*
header{
    color:white;
    background-color:#70F0A9;
    top: 0px;
    position: sticky;
    height: 60px;
    padding: 15px;
    z-index: 11; //to keep header on upper layer

}
*/

.outerWrap{
    background-color: red;
}

.sidenav {
    height: calc(100vh-160px);
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

.logoImage{
   
    height: 30px;

}

.menu{
    grid-row-start: 2;
    grid-row-end: 2;
    background-color:white;
}

.menuItem{
    height: 50px;
    text-align: center;
    line-height: 50px; /*to make it on vertically middle*/
    user-select: none;
}

.menuItem:hover{
    cursor: pointer;
}

.checkedMenuItem{
    height: 50px;
    text-align: center;
    background-color:whitesmoke;
    line-height: 50px;
    cursor:default;
    user-select: none;
    font-weight:bold;
}


#allSets{
    display: grid;
    background-color:white;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 0 50px;
}
#pureboard{
    grid-column-start: 2;
    grid-column-end: 3;
    min-height:708px;
}

h1{
    margin-left: 50px;
    
}

.setTabContainer{
    display:grid;
    grid-template-columns: 50% 50%;
    margin: 20px;
    justify-content: center;
}

.setTab{
    display: flex;
    position:relative;
    align-self: right;
    min-width: 300px;
    max-width: 400px;
    border-radius: 10px;
    color:#70F0A9;
    justify-content: center;
    align-items: center;
    height:30px;
    border: solid #70F0A9 2px;
    border-color: #70F0A9;
    background-color:#ffffff;
}

.setTab:hover{
    cursor: pointer;
}

.checkedSetTab{
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    align-self: right;
    min-width: 300px;
    max-width: 400px;
    height:30px;
    border-radius: 10px;
    color:white;
    border: none;
    background-color:#70F0A9;
}

.tabOne{
    justify-self: right;
    margin-right: 20px;
}

.tabTwo{
    justify-self: left;
    margin-left: 20px;
}


#board_dash{
    display:grid;
    grid-template-columns:160px 1fr;

    background-color:white;
   /* padding: 20px 20px 50px 20px;*/
   
}

#allSets > div {
}

.oneSetWrapper_dashboard{
    margin-bottom: 10px;
    text-align: center;
}

.oneSet{
    border: solid 1px whitesmoke;
    background-color: white;
    box-shadow: 0px 2px 2px  rgba(0,0,0,0.2);
    border-radius:10px;
    position: relative;
    overflow: hidden;  
    margin-bottom: 5px;
}

.setTitle{
    height: 40px;
    line-height:40px;
    text-align: center;
}

.iconClear{
    position: absolute;
    display: flex;
    height: 20px;
    width: 20px;
    top: 3px;
    left: 3px;
    z-index: 0;
    color: red;
    margin: 2px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0);}

.iconClear:hover{
    cursor: pointer;
}

.iconClear:active{
    opacity: 0.6;
}

.iconClearBox{
    position: relative;
    height: 10px;
    width: 10px;
    bottom: 5px;
    right: 11px;
}

.iconEdit{
    position: absolute;
    display: flex;
    top: 0;
    right: 6px;
    z-index: 0;
    color:white;
    margin: 2px;
    border-radius: 50%;
    border: none;
    height: 25px;
    width: 24px;
    background-color: rgba(255, 255, 255, 0);
}

.iconEditBox{
    position: relative;
    right: 7px;
    height:20px;
    width: 20px;
}

.iconEdit:hover{
    cursor: pointer;
}

.iconEdit:active{
    opacity: 0.6;
}


.oneSetImage > img {
    width:100%;
    height:100%;
    object-fit:cover;

}

.opac{
    opacity:0.5;
}

button[class="findSets"]{
    margin: auto;
    width:fit-content;
    line-height: 40px;
    border: solid #70F0A9 2px;
    background-color:white;
    text-align: center;
    border-radius:10px;
    color: #70F0A9;
    display:flex;

    cursor: pointer;

}
button[class="findSets"]:hover {
	background-color:#70f0aa5b;
}