
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/*
root variables used for set styling
*/
:root{
    --columnNumbers: 4;
}


.wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    
}

/*
header{
    color:white;
    background-color:#70F0A9;
    top: 0px;
    position: sticky;
    height: 60px;
    padding: 15px;
    z-index: 11; //to keep header on upper layer

}
*/


.outerWrap{
    background-color: red;
}

.sidenav {
    height: calc(100vh-160px);
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

.logoImage{
   
    height: 30px;

}

.menu{
    grid-row-start: 2;
    grid-row-end: 2;
    background-color:white;
}

.menuItem{
    height: 50px;
    text-align: center;
    line-height: 50px; /*to make it on vertically middle*/
    user-select: none;
}

.menuItem:hover{
    cursor: pointer;
}

.checkedMenuItem{
    height: 50px;
    text-align: center;
    background-color:whitesmoke;
    line-height: 50px;
    cursor:default;
    user-select: none;
    font-weight:bold;
}


#allSets{
    display: grid;
    background-color:white;
    grid-template-columns: repeat(var(--columnNumbers), 1fr);
    grid-gap: 20px;
    margin: 0 50px;
}
#pureboard{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color:white;
    min-height:870px;
}

h1{
    margin-left: 50px;
    
}

.setTabContainer{
    display:grid;
    grid-template-columns: 50% 50%;
    margin: 20px;
    justify-content: center;
}

.setTab{
    display: flex;
    position:relative;
    align-self: right;
    min-width: 300px;
    max-width: 400px;
    border-radius: 7px;
    color:rgb(89, 89, 89);;
    justify-content: center;
    align-items: center;
    height:30px;
    border: solid #70F0A9 2px;
    border-color: #70F0A9;
    background-color:#ffffff;
}

.setTab:hover{
    cursor: pointer;
    background-color: #70f0aa5b
}

.checkedSetTab{
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    align-self: right;
    min-width: 300px;
    max-width: 400px;
    height:30px;
    border-radius: 7px;
    color:white;
    border: none;
    background-color:#70F0A9;
}

.tabOne{
    justify-self: right;
    margin-right: 20px;
}

.tabTwo{
    justify-self: left;
    margin-left: 20px;
}


#board_dash{
    display:grid;
    grid-template-columns:160px 1fr;

    background-color:white;
   /* padding: 20px 20px 50px 20px;*/
   
}

#allSets > div {
}

.oneSetWrapper_dashboard{
    margin-bottom: 10px;
    text-align: center;
}

.oneSet{
    border: solid 1px whitesmoke;
    background-color: white;
    box-shadow: 0px 2px 2px  rgba(0,0,0,0.2);
    border-radius:10px;
    position: relative;
    overflow: hidden;  
    margin-bottom: 5px;
}

.oneSet:hover{
    cursor: pointer;
}

.setTitle{
    height: 40px;
    line-height:40px;
    text-align: center;
    color:white;
    background-color: #70F0A9;
}

.iconClear{
    position: absolute;
    display: flex;
    height: 20px;
    width: 20px;
    top: 10px;
    left: 5px;
    z-index: 0;
    color: red;
    margin: 2px;
    border-radius: 50%;
    transition: all 0.1s ease;
    border: none;
    background-color: rgba(255, 255, 255, 0);}
    

.iconClear:hover{
    cursor: pointer;
    top:8px;
}

.iconClear:active{
    opacity: 0.6;
}

.iconClearBox{
    position: relative;
    height: 10px;
    width: 10px;
    bottom: 5px;
    right: 11px;
}


.iconEdit{
    position: absolute;
    display: flex;
    top: 4px;
    right: 7px;
    z-index: 0;
    color:rgb(67, 136, 216);
    margin: 2px;
    border-radius: 50%;
    border: none;
    height: 25px;
    width: 24px;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.1s ease;
}

.iconEditBox{
    position: relative;
    right: 7px;
    height:20px;
    width: 20px;
}

.iconEdit:hover{
    cursor: pointer;
    top:2px;
}

.iconEdit:active{
    opacity: 0.6;
}


.oneSetImage > img {
    width:100%;
    height:100%;
    object-fit:cover;

}

.setInfoOverview{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    height: 165px;
    padding: 10px;
    padding-left: 20px;
    text-align: left;
}

.previewTag{

}

.cardPreview{
    font-size: 15px;
    color:#818181;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.allCardsPreview{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 60px;
}

.cardsContainer{
    height: 230px;
    min-width: 350px;
    display: flex;
    justify-content: center;
}

.singleSetBorder{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr;
    height: 220px;
    overflow-wrap: break-word;
    justify-content: center;
}

.singleCardPreview{
    position:relative;
    display: flex;
    justify-content: center;
    height: 190px;
    width: 300px;
    align-items: center;
    border-radius: .4rem;
    box-shadow: 0 0 1.5px 1px rgba(0,0,0,.4);
    cursor: pointer;
    color: #4F4D4D;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    overflow-wrap: break-word;
    text-align: center;
    background-color: rgb(255, 255, 255);

}

.singleCardPreview:hover{
    cursor: pointer;
}

.cardFront{
    position: absolute;
    padding: 1rem;
    overflow-wrap: break-word;
    color:#d1d1d1;
    max-width: 250px;
    font-size: 15px;
}

.setTitleNew{
    position: absolute;
    overflow-wrap: break-word;
    padding: 1rem;
    font-size: 30px;
    top:3px;
}

.cardOne{
    grid-column-start: 2;
    grid-row-start: 1;
    left:20px;
}

.cardTwo{
    grid-column-start: 2;
    grid-row-start: 1;
    left: 10px;
    top: 12px;
}

.cardThree,
.newCard{
    grid-column-start: 2;
    grid-row-start: 1;
    top: 24px;
}

.newCard{
    font-size: 40px;
}


.cardThree:hover{
    outline: 2px solid #b8b8b8;
}

.newCard:hover{
    outline: 2px solid #70F0A9;
    color:#70F0A9;
    font-size: 60px;
    transition: all 0.05s ease;
}

.setSizeIndicator{
    font-size: 18px;
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    border: 1px solid #d6d6d6;
    color: #818181;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    position: relative;
    bottom:5px;
}


.learnButton,
.playButton,
.plusButton{
    padding: 6px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    width: 45%;
    height: 35px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.1s ease;
    margin: 3px;
}


.learnButton{
    background: #70F0A9;
}

.playButton{
    background: #F0DA65;
}

.playButton:hover,
.learnButton:hover{
    transform: translateY(-2px);
}

.setLength{
    color:#818181;
    position: relative;
    top:10px;
    font-size: 18px;
}

.thumbIconBox{
    position: relative;
    right: 39%;
    top: 35%;
    opacity: 0.5;
    
}

.thumbIcon{
    color:blue;
    position: relative;
    top:5px;
}


.opac{
    opacity:0.5;
}

button[class="findSets"]{
    margin: auto;
    width:fit-content;
    line-height: 45px;
    border: solid #70F0A9 2px;
    background-color:white;
    text-align: center;
    border-radius:10px;
    color: rgb(89, 89, 89);
    display:flex;

    cursor: pointer;

}
button[class="findSets"]:hover {
	background-color:#70f0aa5b;
}