:root{
    --columnNumbers: 4;
}

#body{
    display:grid;
    grid-template-columns: 160px 1fr;
    min-height:870px;
}

#board_title{
    margin: 50px 0 0 20px;
    
}


#result_board{
    grid-column-start: 2;
    grid-column-end: 3;
    min-height: 708px;
}

.board_contents{
    display: grid;
    background-color:white;
    grid-template-columns:  repeat(var(--columnNumbers), 1fr);
    /*padding: 0 30px 30px 30px;*/
    padding: 0 30px 0px 30px;
}

.owner_info{
    display: flex;
    width: 120px;
    align-items: center;
}

.owner_info_picture:hover{
    transform: translateY(-2px);
}

.owner_info:hover{
    cursor: pointer;
}

.owner_info_username{
    font-family: 'Roboto', sans-serif;
    position: relative;
    left:3px;
}



.oneSetWrapper{
    margin-bottom: 30px;
    text-align:center;
    
    
}

.oneSet{
    border: solid 1px whitesmoke;
    background-color: white;
    box-shadow: 0px 2px 2px  rgba(0,0,0,0.2);
    border-radius:10px;
    position: relative;
    overflow: hidden;  
    margin-bottom: 5px;
}

.setTitleContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}



.setTitle{
    height: 40px;
    line-height:40px;
    text-align: center;
}

.owner_likes{ 
    display: grid;
    width: 320px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px;
    margin: 20px;
    line-height: 30px;
    align-items: center;
    position: relative;
}

.containerUnderSets{
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom:20px;
}

.addButton{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 15px;
    margin: 3px;
    background-color: #70F0A9;
    transition: 150ms;
    justify-self: right;
    position: relative;
    bottom:50px;
    right: 35px;
    width: 32px;
}



.addButton.open{
    height:34px;
    width: auto;
    
}

.addButton:disabled{
    cursor: default;
    opacity: 0.4;
}

.addButton:enabled:hover{
    cursor: pointer;
    background-color: #4ca875;
}

.addText{
    position: relative;
}
